In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
accelerometer_data = ""
IMU_data = ""
AGD_data = ""

In [3]:
# function to read file
def read_data(filename, agd = False):
    sampling_rate = 1
    start_date = None
    start_time = None
    with open(filename) as f:
        line = f.readline()
        parsed = line.split()
        for i in range(len(parsed)):
            if parsed[i] == 'Hz':
                sampling_rate = int(parsed[i - 1])
                break
        f.readline()
        start_time = f.readline().split()[-1]
        start_date = f.readline().split()[-1]
    start = datetime.strptime(start_date + ' ' + start_time, '%m/%d/%Y %H:%M:%S')
    step = timedelta(seconds=1 / sampling_rate)
    if agd:
        step = timedelta(seconds = 1)
    df = pd.read_csv(filename,skiprows=10,header=0)
    df['Timestamp'] = [start + i* step for i in range(len(df))]
    return df

In [4]:
%%time
accelerometer_df = read_data(accelerometer_data)
accelerometer_df

CPU times: user 2.36 s, sys: 92.3 ms, total: 2.45 s
Wall time: 2.45 s

,Accelerometer X,Accelerometer Y,Accelerometer Z,Timestamp
0,0.0,0.0,0.0,2023-10-16 12:00:00.000000
1,0.0,0.0,0.0,2023-10-16 12:00:00.012500
2,0.0,0.0,0.0,2023-10-16 12:00:00.025000
3,0.0,0.0,0.0,2023-10-16 12:00:00.037500
4,0.0,0.0,0.0,2023-10-16 12:00:00.050000
...,...,...,...,...
1451592,0.0,0.0,0.0,2023-10-16 17:02:24.900000
1451593,0.0,0.0,0.0,2023-10-16 17:02:24.912500
1451594,0.0,0.0,0.0,2023-10-16 17:02:24.925000
1451595,0.0,0.0,0.0,2023-10-16 17:02:24.937500
1451596,0.0,0.0,0.0,2023-10-16 17:02:24.950000

In [5]:
%%time
IMU_df = read_data(IMU_data)
IMU_df

CPU times: user 5.16 s, sys: 334 ms, total: 5.49 s
Wall time: 5.49 s

,Timestamp,Accelerometer X,Accelerometer Y,Accelerometer Z,Temperature,Gyroscope X,Gyroscope Y,Gyroscope Z,Magnetometer X,Magnetometer Y,Magnetometer Z
0,2023-10-16 12:00:00.000,-0.016113,0.010254,0.904785,41.984216,4.638672,-3.417969,0.671387,1.464844,27.246092,-2.636719
1,2023-10-16 12:00:00.010,-0.010742,0.000977,1.031738,41.987211,0.732422,2.197266,0.671387,1.464844,27.246092,-2.636719
2,2023-10-16 12:00:00.020,-0.017090,0.001953,1.017578,41.966245,1.708984,-0.488281,0.671387,1.464844,27.246092,-2.636719
3,2023-10-16 12:00:00.030,-0.019531,0.006836,0.998535,41.987211,1.159668,0.061035,0.549316,1.464844,27.246092,-2.636719
4,2023-10-16 12:00:00.040,-0.023438,-0.006836,0.952637,41.972235,1.464844,-1.342774,0.488281,1.464844,27.246092,-2.636719
...,...,...,...,...,...,...,...,...,...,...,...
1785395,2023-10-16 16:57:33.950,0.003906,-1.042480,0.020020,28.410070,2.136231,-0.854492,0.549316,13.476562,40.136717,-36.035154
1785396,2023-10-16 16:57:33.960,0.003418,-1.044434,0.019043,28.419055,2.258301,-0.854492,0.488281,13.476562,40.136717,-36.035154
1785397,2023-10-16 16:57:33.970,0.004883,-1.037598,0.019043,28.416060,2.136231,-0.915527,0.488281,13.476562,40.136717,-36.035154
1785398,2023-10-16 16:57:33.980,0.003418,-1.033691,0.016602,28.425046,2.136231,-0.915527,0.488281,13.476562,40.136717,-36.035154
1785399,2023-10-16 16:57:33.990,0.003418,-1.034180,0.018066,28.410070,2.136231,-0.915527,0.488281,13.476562,40.136717,-36.035154

In [6]:
%%time
agd_df = read_data(AGD_data)
agd_df

CPU times: user 62.7 ms, sys: 2.05 ms, total: 64.8 ms
Wall time: 67.1 ms

,Axis1,Axis2,Axis3,Steps,HR,Lux,Inclinometer Off,Inclinometer Standing,Inclinometer Sitting,Inclinometer Lying,Timestamp
0,0,0,0,0,0,0,1,0,0,0,2023-10-16 12:00:00
1,0,0,0,0,0,0,1,0,0,0,2023-10-16 12:00:01
2,0,0,0,0,0,0,1,0,0,0,2023-10-16 12:00:02
3,0,0,0,0,0,0,1,0,0,0,2023-10-16 12:00:03
4,0,0,0,0,0,0,1,0,0,0,2023-10-16 12:00:04
...,...,...,...,...,...,...,...,...,...,...,...
18140,38,0,0,0,164,0,0,1,0,0,2023-10-16 17:02:20
18141,0,0,0,0,164,0,1,0,0,0,2023-10-16 17:02:21
18142,0,0,0,0,164,0,1,0,0,0,2023-10-16 17:02:22
18143,0,0,0,0,164,0,1,0,0,0,2023-10-16 17:02:23
18144,0,0,0,0,164,0,1,0,0,0,2023-10-16 17:02:24